In [2]:
import pandas as pd
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

In [3]:
amazon = fetch_financial_data('AMZN')
amazon

               Open     High      Low    Close     Volume
Date
2023-01-13  94.1800  98.3700  94.1200  98.1200   85549432
2023-01-12  96.9300  97.1900  93.5000  95.2700   85254781
2023-01-11  90.9300  95.2600  90.9300  95.0900  103126183
2023-01-10  87.5700  90.1850  87.2900  89.8700   67756601
2023-01-09  87.4600  89.4800  87.0800  87.3600   65266056
...             ...      ...      ...      ...        ...
2018-01-24  68.7410  69.4080  66.9000  67.8755  135630340
2018-01-23  66.9045  68.2450  66.8670  68.1270  102883040
2018-01-22  64.8585  66.3725  64.8330  66.3655   82537660
2018-01-19  65.6000  65.6500  64.6495  64.7290   90395880
2018-01-18  64.6975  65.2300  64.2010  64.6660   80444540

[1257 rows x 5 columns]

In [4]:
google = fetch_financial_data("GOOGL")
google

               Open     High      Low    Close    Volume
Date
2023-01-13  90.8500  92.1900  90.1299  92.1200  26329212
2023-01-12  91.4800  91.8700  89.7500  91.1300  30258135
2023-01-11  89.1800  91.6000  89.0100  91.5200  26861969
2023-01-10  85.9800  88.6700  85.8300  88.4200  30467755
2023-01-09  88.3600  90.0500  87.8600  88.0200  29003901
...             ...      ...      ...      ...       ...
2018-01-24  59.2490  59.3525  58.3700  58.5645  36917660
2018-01-23  58.5310  58.9255  58.3625  58.8085  38965600
2018-01-22  57.1910  58.3440  57.0910  58.2080  29527980
2018-01-19  56.9015  57.1890  56.6250  57.1750  29288600
2018-01-18  56.9675  57.0295  56.2235  56.7985  27440920

[1257 rows x 5 columns]

In [5]:
uber = fetch_financial_data('UBER')

In [6]:
apple = fetch_financial_data("AAPL.US")

In [7]:
apple.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [8]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]

In [9]:
amazon

            amazon_open  amazon_high  amazon_low  amazon_close  amazon_volume
Date
2023-01-13      94.1800      98.3700     94.1200       98.1200       85549432
2023-01-12      96.9300      97.1900     93.5000       95.2700       85254781
2023-01-11      90.9300      95.2600     90.9300       95.0900      103126183
2023-01-10      87.5700      90.1850     87.2900       89.8700       67756601
2023-01-09      87.4600      89.4800     87.0800       87.3600       65266056
...                 ...          ...         ...           ...            ...
2018-01-24      68.7410      69.4080     66.9000       67.8755      135630340
2018-01-23      66.9045      68.2450     66.8670       68.1270      102883040
2018-01-22      64.8585      66.3725     64.8330       66.3655       82537660
2018-01-19      65.6000      65.6500     64.6495       64.7290       90395880
2018-01-18      64.6975      65.2300     64.2010       64.6660       80444540

[1257 rows x 5 columns]

In [10]:
df = pd.concat([apple,amazon,google,uber], axis=1)

In [11]:
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-01-18,42.6420,42.8154,42.3757,42.6160,1.307837e+08,64.6975,65.2300,64.2010,64.6660,80444540,56.9675,57.0295,56.2235,56.7985,27440920,NaN,NaN,NaN,NaN,NaN
2018-01-19,42.4615,42.6908,42.1693,42.4266,1.324210e+08,65.6000,65.6500,64.6495,64.7290,90395880,56.9015,57.1890,56.6250,57.1750,29288600,NaN,NaN,NaN,NaN,NaN
2018-01-22,42.1445,42.2611,41.9830,42.0767,1.138420e+08,64.8585,66.3725,64.8330,66.3655,82537660,57.1910,58.3440,57.0910,58.2080,29527980,NaN,NaN,NaN,NaN,NaN
2018-01-23,42.1445,42.6588,42.0328,42.0856,1.368840e+08,66.9045,68.2450,66.8670,68.1270,102883040,58.5310,58.9255,58.3625,58.8085,38965600,NaN,NaN,NaN,NaN,NaN
2018-01-24,42.1315,42.1445,41.1754,41.4147,2.161263e+08,68.7410,69.4080,66.9000,67.8755,135630340,59.2490,59.3525,58.3700,58.5645,36917660,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-09,130.4650,133.4100,129.8900,130.1500,7.079081e+07,87.4600,89.4800,87.0800,87.3600,65266056,88.3600,90.0500,87.8600,88.0200,29003901,27.30,28.050,27.15,27.40,24962057.0
2023-01-10,130.2600,131.2636,128.1200,130.7300,6.389616e+07,87.5700,90.1850,87.2900,89.8700,67756601,85.9800,88.6700,85.8300,88.4200,30467755,27.40,28.250,27.15,28.04,15413738.0
2023-01-11,131.2500,133.5100,130.4600,133.4900,6.945895e+07,90.9300,95.2600,90.9300,95.0900,103126183,89.1800,91.6000,89.0100,91.5200,26861969,28.24,28.520,27.92,28.35,15421719.0
2023-01-12,133.8800,134.2600,131.4400,133.4100,7.137965e+07,96.9300,97.1900,93.5000,95.2700,85254781,91.4800,91.8700,89.7500,91.1300,30258135,28.85,29.185,28.20,29.03,17513401.0
2023-01-13,132.0300,134.9200,131.6600,134.7600,5.780972e+07,94.1800,98.3700,94.1200,98.1200,85549432,90.8500,92.1900,90.1299,92.1200,26329212,28.68,29.500,28.66,29.44,16940714.0

In [12]:
df_describe = df.describe().T

In [13]:
pd.set_option('display.float_format', lambda x : f'{x:.2f}')
df_describe

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,97.47,46.50,34.74,49.65,93.87,142.22,181.58
apple_high,1257.00,98.66,47.09,35.16,50.23,94.84,143.63,181.88
apple_low,1257.00,96.33,45.88,34.26,49.40,92.64,140.43,178.09
apple_close,1257.00,97.54,46.51,34.31,49.75,94.22,142.17,180.96
apple_volume,1257.00,119304673.66,56898486.96,35195860.00,80897729.02,104288541.04,139875145.72,434708544.96
amazon_open,1257.00,120.17,35.37,64.70,89.20,108.10,158.34,187.20
amazon_high,1257.00,121.62,35.75,65.23,89.89,110.78,159.94,188.65
amazon_low,1257.00,118.56,34.95,63.30,88.06,106.32,156.25,184.84
amazon_close,1257.00,120.10,35.31,64.67,89.09,108.00,158.10,186.57
amazon_volume,1257.00,86605901.51,40604876.79,17626740.00,58974200.00,75313740.00,102472520.00,311345660.00
google_open,1257.00,85.99,30.67,49.22,59.00,74.41,112.64,151.25
google_high,1257.00,86.95,30.96,50.61,59.43,75.03,114.01,151.55
google_low,1257.00,85.02,30.32,48.88,58.37,73.76,111.46,148.90
google_close,1257.00,86.00,30.63,49.23,58.93,74.23,112.72,149.84
google_volume,1257.00,35328196.63,16015960.74,9312760.00,25153400.00,31432820.00,40286400.00,133177100.00
uber_open,928.00,37.37,9.86,15.96,29.77,35.02,44.30,63.25
uber_high,928.00,38.14,9.94,17.80,30.42,35.81,45.00,64.05
uber_low,928.00,36.53,9.70,13.71,29.16,34.11,43.51,60.80
uber_close,928.00,37.33,9.80,14.82,29.75,34.83,44.17,63.18
uber_volume,928.00,25483420.28,16535399.70,3380003.00,15700498.00,21773939.00,30709936.75,186322536.00

In [14]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.79,0.79,0.78,0.79,-0.31,0.93,0.93,0.93,0.93,-0.15,0.09,0.10,0.09,0.09,0.11
apple_high,1.00,1.00,1.00,1.00,-0.36,0.79,0.79,0.78,0.79,-0.30,0.93,0.93,0.93,0.93,-0.15,0.09,0.09,0.09,0.09,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.79,0.80,0.79,0.79,-0.31,0.93,0.93,0.93,0.93,-0.16,0.10,0.10,0.10,0.10,0.10
apple_close,1.00,1.00,1.00,1.00,-0.37,0.79,0.79,0.78,0.79,-0.31,0.93,0.93,0.93,0.93,-0.15,0.09,0.10,0.09,0.09,0.11
apple_volume,-0.36,-0.36,-0.37,-0.37,1.00,-0.24,-0.24,-0.25,-0.25,0.59,-0.41,-0.41,-0.42,-0.42,0.51,-0.19,-0.18,-0.20,-0.19,0.24
amazon_open,0.79,0.79,0.79,0.79,-0.24,1.00,1.00,1.00,1.00,-0.27,0.80,0.80,0.80,0.80,-0.16,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.79,0.79,0.80,0.79,-0.24,1.00,1.00,1.00,1.00,-0.26,0.80,0.80,0.80,0.80,-0.15,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.78,0.78,0.79,0.78,-0.25,1.00,1.00,1.00,1.00,-0.29,0.80,0.80,0.80,0.80,-0.17,0.59,0.60,0.60,0.60,-0.04
amazon_close,0.79,0.79,0.79,0.79,-0.25,1.00,1.00,1.00,1.00,-0.27,0.80,0.80,0.80,0.80,-0.16,0.58,0.59,0.59,0.59,-0.04
amazon_volume,-0.31,-0.30,-0.31,-0.31,0.59,-0.27,-0.26,-0.29,-0.27,1.00,-0.33,-0.33,-0.34,-0.33,0.59,-0.18,-0.17,-0.19,-0.18,0.24
google_open,0.93,0.93,0.93,0.93,-0.41,0.80,0.80,0.80,0.80,-0.33,1.00,1.00,1.00,1.00,-0.18,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.41,0.80,0.80,0.80,0.80,-0.33,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.23,0.10
google_low,0.93,0.93,0.93,0.93,-0.42,0.80,0.80,0.80,0.80,-0.34,1.00,1.00,1.00,1.00,-0.19,0.25,0.25,0.25,0.25,0.09
google_close,0.93,0.93,0.93,0.93,-0.42,0.80,0.80,0.80,0.80,-0.33,1.00,1.00,1.00,1.00,-0.18,0.24,0.24,0.24,0.24,0.10
google_volume,-0.15,-0.15,-0.16,-0.15,0.51,-0.16,-0.15,-0.17,-0.16,0.59,-0.18,-0.17,-0.19,-0.18,1.00,-0.16,-0.15,-0.18,-0.16,0.26
uber_open,0.09,0.09,0.10,0.09,-0.19,0.59,0.58,0.59,0.58,-0.18,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.10,0.09,0.10,0.10,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.20
uber_low,0.09,0.09,0.10,0.09,-0.20,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.24
uber_close,0.09,0.09,0.10,0.09,-0.19,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.22
uber_volume,0.11,0.11,0.10,0.11,0.24,-0.04,-0.03,-0.04,-0.04,0.24,0.10,0.10,0.09,0.10,0.26,-0.22,-0.20,-0.24,-0.22,1.00

In [15]:
closes = [col for col in df.columns if col.endswith(
    'close') or col.endswith('volume')]

In [16]:
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [17]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.37,0.79,-0.31,0.93,-0.15,0.09,0.11
apple_volume,-0.37,1.00,-0.25,0.59,-0.42,0.51,-0.19,0.24
amazon_close,0.79,-0.25,1.00,-0.27,0.80,-0.16,0.59,-0.04
amazon_volume,-0.31,0.59,-0.27,1.00,-0.33,0.59,-0.18,0.24
google_close,0.93,-0.42,0.80,-0.33,1.00,-0.18,0.24,0.10
google_volume,-0.15,0.51,-0.16,0.59,-0.18,1.00,-0.16,0.26
uber_close,0.09,-0.19,0.59,-0.18,0.24,-0.16,1.00,-0.22
uber_volume,0.11,0.24,-0.04,0.24,0.10,0.26,-0.22,1.00

In [18]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-01-13      28.68      29.50     28.66       29.44     16940714
2023-01-12      28.85      29.18     28.20       29.03     17513401
2023-01-11      28.24      28.52     27.92       28.35     15421719
2023-01-10      27.40      28.25     27.15       28.04     15413738
2023-01-09      27.30      28.05     27.15       27.40     24962057

In [19]:
uber_6 = uber[uber.index.month == 6]

In [21]:
uber_7 = uber[uber.index.month == 7]

In [24]:
uber_6_7 = pd.concat([uber_6,uber_7], axis= 0 )